body {
  background-color: grey;
}
.country-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.country-div > h2 {
  text-align: center;
}
.country-div > img {
  width: 50%;
  position: absolute;
  height: auto;
  margin-left: 42%;
}
.country-div > span {
  display: flex;
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
}
.country-div > span > p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}
.country-div > .languages-header {
  display: block;
}
.languages-header > ul {
  font-weight: normal;
}
